<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Weather App</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="container">
    <h1>Weather</h1>

    <div class="card row">
      <input id="city" placeholder="City (e.g., Atlanta)" />
      <button id="searchBtn">Search</button>
    </div>

    <div id="matches" class="card"></div>

    <div id="current" class="card"></div>
    <div id="hourly" class="card"></div>
  </div>

  <script src="/static/app.js"></script>
</body>
</html>
